.button-pagination {
  width: 70px;
  margin-left: 10px;
  background-color: #3b5998;
  border-radius: 20%;
  color: white;
  border: 1px solid red;

  &:hover {
    background-color: rgb(163, 238, 77);
    color: black;
  }
}

.pagination {
  display: flex;
  justify-content: center;
}

.page-item {
  text-decoration: none;
  list-style: none;
}