.button-pagination {
  width: 70px;
  margin-left: 10px;
  background-color: rgb(59, 209, 214);
  border-radius: 50%;

  &:hover {
    background-color: rgb(163, 238, 77);
  }
}

.pagination {
  display: flex;
  justify-content: center;
}

.page-item {
  text-decoration: none;
  list-style: none;
}