.button-pagination {
  margin-left: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.page-item {
  text-decoration: none;
  list-style: none;

  @media (max-width: 410px) {
    display: flex;
    justify-content: center;
    width: 300px;
    flex-wrap: wrap;
  }
}