.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 20px auto;
}

.container-sort {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1100px) {
    flex-direction: column;
  }
}

.button-find {
  margin-left: 20px;
  width: 100px;
}

.form {
  display: flex;
  justify-content: space-between;

  @media (max-width: 1100px) {
    margin: 0 auto;
    width: 80%;
  }
}

#sort {
  width: 20%;
  @media (max-width: 1100px) {
    display: block;
    margin: 20px auto;
    width: 80%;
  }
}
