.container-card {
  display: flex;
  flex-basis: 22%;
  margin-top: 50px;
  border-radius: 5px;
  flex-direction: column;
  width: 25%;
  position: relative;

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 14px rgba(0, 0, 0, 0.48);
    transition: transform 1s;
  }
}

.image {
  height: 200px;
  cursor: pointer;
  border-radius: 5%;
}

.link-about {
  left: 10%;
  display: block;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  padding: 0 80% 213px 0;
  position: absolute;
}

.tags-span {
  background-color: #0d6efd;
  border-radius: 15px;
  display: inline-block;
  margin-left: 10px;
  padding: 10px;
  margin-top: 10px;
  color: #fff;
}
