.form-container {
  width: 500px;
  display: flex;
}

.button-input {
  padding: 10px 20px;
  border: solid 2px #7e0000;
  border-radius: 5px;
  background-color: #4dbdae;
  color: rgb(48, 13, 13);
  outline: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s linear;
}

.button-input:hover {
  background-color: rgb(34, 160, 91);
  color: rgb(255, 255, 255);
}

.search {
  width: 80%;
  padding: 10px 20px;
  border: solid 2px #686868;
  border-radius: 5px;
  margin-right: 5px;
}

.search:focus {
  border-color: #005ad8;
  transition: 0.5s;
}